
1주차/Auction_master_kr/__MACOSX/._Auction_master_test.csv
1주차/Auction_master_kr/__MACOSX/._Auction_master_train.csv
1주차/Auction_master_kr/__MACOSX/._Auction_regist.csv
1주차/Auction_master_kr/__MACOSX/._Auction_rent.csv
1주차/Auction_master_kr/__MACOSX/._Auction_result.csv
1주차/Auction_master_kr/__MACOSX/._Auction_submission.csv
